__pycache__/mapa_nadajniki.cpython-314.pyc
__pycache__/pomiar1_boxplot.cpython-314.pyc
__pycache__/pomiar1_pozycje.cpython-314.pyc
__pycache__/pomiar1_regresja_liniowa.cpython-314.pyc
__pycache__/pomiar1_sila_sygnalu.cpython-314.pyc
pomiar1/__pycache__/__init__.cpython-314.pyc
pomiar1/__pycache__/boxplot.cpython-314.pyc
pomiar1/__pycache__/dystans.cpython-314.pyc
pomiar1/__pycache__/generowanie_pozycji.cpython-314.pyc
pomiar1/__pycache__/least_square.cpython-314.pyc
pomiar1/__pycache__/obszar_funkcji.cpython-314.pyc
pomiar1/__pycache__/pomiar1_pozycje.cpython-314.pyc
pomiar1/__pycache__/pomiar1_sila_sygnalu.cpython-314.pyc
pomiar1/__pycache__/pozycje.cpython-314.pyc
pomiar1/__pycache__/regresja_liniowa.cpython-314.pyc
pomiar1/__pycache__/rozrzut_pozycji.cpython-314.pyc
pomiar1/__pycache__/sila_sygnalu.cpython-314.pyc
